target
target/*
*~
*.idea
*.iml
.project
.settings
.classpath
/target
*/target/**
*.log
*/test-output/*
test-output
test-output/*
*/.DS_Store
*.swp
.DS_Store
.history
.factorypath
templates/
.idea
*.jpg